* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	-webkit-tap-highlight-color: transparent;
}
body {
  background: url(../Images/Ciel.jpg) center center / cover no-repeat fixed;  color: #faf8f8;
}
h1{
  text-align: center;
  margin: -2px 0 0 0 ;
  color: #f7f3f3;
}
.start-screen,
.score-container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
button {
  display: block;
  background-color: white;
  position: relative;
  margin-top: 1em;
  text-align: center;
  text-decoration: none;
  color: #0a69ed;
  font-size: 1.4em;
  font-weight: 600;
  padding: 7px 60px;
  border-radius: 0.4em;
  box-shadow: 0 20px 45px #00183826;

}
.button {
	display: block;
	background-color: white;
	position: relative;
	margin: -20px 750px 0 700px;
	text-align: center;
	text-decoration: none;
	color: #0346fd;
	font-size: 1.4em;
	font-weight: 600;
	padding: 20px 10px 20px 10px;
	border-radius: 0.4em;
	box-shadow: 0 20px 45px #00183826;
  
  }
.button1 {
	display: block;
	background-color: rgb(251, 160, 99);
	position: relative;
	margin: -320px 750px 0 700px;
	text-align: center;
	text-decoration: none;
	color: #0346fd;
	font-size: 1.4em;
	font-weight: 600;
	padding: 20px 10px 20px 10px;
	border-radius: 0.4em;
	box-shadow: 0 20px 45px #00183826;
  
  }
.button2 {
	display: block;
	background-color: rgb(253, 252, 251);
	position: relative;
	margin: -280px 750px 0 700px;
	text-align: center;
	text-decoration: none;
	color: #0346fd;
	font-size: 1.3em;
	font-weight: 300;
	padding: 20px 10px 20px 10px;
	border-radius: 0.4em;
	box-shadow: 0 20px 45px #00183826;
  
  }

#a {
	font-size: 1.3em;
	padding: 0.5em 1.8em;
	border-radius: 0.2em;
}
#a{
	margin-top: 0.9em;
}
#wrapper {
	position: absolute;
	transform: translateX(-50%);
	top: 20px;
	left: 50%;
	width: 90%;
	max-width: 37.5em;
  margin: 130px 0 0 0 ;
}
#display-container {
	position: relative;
    background-image: url('../Images/Ciel.jpg');
	padding: 3.1em 1.8em;
	width: 100%;
	margin: -70px auto;
	border-radius: 0.6em;
	box-shadow: 0 20px 45px rgba(0, 24, 56, 0.15);
	height: auto;
}
a {
	display: block;
	background-color: #fcfcfd;
	position: relative;
	margin-top: 1em;
	text-align: center;
	text-decoration: none;
	color: #0a69ed;
	font-size: 1.2em;
	font-weight: 600;
	padding: 1em 0;
	border-radius: 0.4em;
	box-shadow: 0 20px 45px rgba(0, 24, 56, 0.15);
}
#a {
	display: block;
	background-color: #e0dede;
	position: relative;
	margin-top: 10px;
	text-align: center;
	text-decoration: none;
	color: #060606;
	font-size: 1.2em;
	padding: 10px 20px 10px 20px;
	border-radius: 0.2em;
	box-shadow: 0 20px 45px rgba(0, 24, 56, 0.15);
	font-style: thin;
}
#a:hover{
    cursor:pointer;
    background-color:#c1cccf;
}
.header {
	margin-bottom: 1.8em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0.6em;
	border-bottom: 0.1em solid #fdfcff;
	padding: 20px 20px;
}
.timer-div {
	background-color: #080808;
	width: 7.5em;
	border-radius: 1.8em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.7em 1.8em;
}
.question {
	margin-bottom: 1.25em;
	font-weight: 500;
  color: #fefcfc;
}
.option-div {
	font-size: 0.9em;
	width: 100%;
	padding: 1em;
	margin: 0.3em 0;
	text-align: left;
	outline: none;
	background: transparent;
	border: 1px solid #c0bfd2;
	border-radius: 0.3em;
  color: #f7f2f2;
}
.option-div:disabled {
	color: #0b012d;
	cursor: not-allowed;
}
.btn-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-top: 1.5em;
}
#next-button {
	font-size: 1em;
	background-color: #0a69ed;
	color: #ffffff;
	padding: 0.7em 1.8em;
	border-radius: 0.3em;
	cursor: pointer; /* Changement du curseur */
}

#next-button:hover {
	background-color: #959594;
  }

#mis-button1 {
	font-size: 1em;
	background-color: #0a69ed;
	color: #ffffff;
	padding: 0px 40px 0 40px;
	border-radius: 0.3em;
	margin: 25px  210px 0  -130px;
}
.hide {
	display: none;
}
.correct {
	background-color: #e7f6d5;
	color: #689f38;
	border-color: #689f38;
}
.inCorrect {
	background-color: #ffdde0;
	color: #d32f2f;
	border-color: #d32f2f;
}
@keyframes clignoter {
	50% {
	  opacity: 0;
	}
  }
  
  #user-score {
	font-size: 1.5em;
	color: #fa0303;
	margin: -250px 0 50px 0;
	animation: clignoter 1s linear infinite;
  }
  
i.fab {
	color: #ff0000;
}
@media screen and (max-width: 600px) {
	body {
		font-size: 12px;
	}
}

/* En-tête */
 .header {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* background-color: #4d4c4c; Couleur de fond de l'en-tête */
    padding: 20px 20px; 
    /* position: relative;  */
    /* z-index: 2;  */
	background-image: url('../Images/Ciel.jpg');
} */
h1{
    text-align: center;
    margin: -200px 0 10px 0;
}

/* Menu hamburger visible sur tous les écrans et positionné à droite dans l'en-tête */
.hamburger-menu {
    display: flex; /* Rend le menu hamburger visible sur tous les écrans */
    cursor: pointer;
    position: absolute; /* Position absolue par rapport à son parent '.header' */
    top: 11px; /* Ajustement vertical pour s'aligner correctement dans l'en-tête */
    right: 30px; /* Ajustement horizontal pour le positionner à droite */
    z-index: 3; /* S'assure que le menu hamburger est cliquable */

}

.hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px; /* Largeur du menu hamburger */
    height: 25px; /* Hauteur du menu hamburger */
}

.bar {
    height: 3px; /* Hauteur de chaque barre */
    width: 100%; /* Largeur de chaque barre */
    background-color: #faf7f7; /* Couleur des barres */
    border-radius: 12px; /* Arrondit les bords des barres */
}

/* Menu latéral */
.side-menu {
    position: fixed;
    width: 250px;
    left: -250px; /* Position de départ hors de l'écran */
    top: 0;
    height: 100%;
    background-color:#d8a761;
    z-index: 1;
    transition: left 0.3s ease; /* Animation pour l'affichage du menu */
    padding-top: 60px; /* Espace pour l'image du menu */
    text-align: center;
}

.side-menu img {
    width: 100%;
    height: auto; /* S'assure que l'image est bien ajustée */
}

.menu-link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333; /* Couleur des liens dans le menu */
}


/* Style pour le conteneur du bouton */
.start-screen {
    display: flex; /* Active Flexbox */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100vh; /* Assure que le conteneur prend toute la hauteur de la vue */
    text-align: center; /* Centre le texte à l'intérieur du bouton, si nécessaire */
}

/* Style pour le bouton, adaptatif sans spécificité de marge */
.button2 {
    padding: 10px 20px; /* Ajustez selon vos besoins */
	margin-top: 250px; /* Ajoute une marge au-dessus du bouton pour le pousser vers le bas */
    /* Vos autres styles pour .button2 ici */
    /* Autres styles du bouton */
}

/* Utilisation d'une media query si vous souhaitez ajuster la taille du bouton sur les petits écrans */
@media (max-width: 768px) {
    .button2 {
        padding: 8px 15px; /* Plus petit padding sur les petits écrans */
        /* Ajustez la taille du texte si nécessaire */
    }
}





.start-screen {
    display: flex;
    flex-direction: column; /* Assure que les éléments s'alignent verticalement */
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 15px; /* Ajoute 15px de plus au haut, ajustez selon vos besoins */
}

/* Pour rendre le texte à l'intérieur du bouton responsive */
#start-button {
    width: 60%; /* Définit une largeur initiale pour le bouton */
    max-width: 600px; /* S'assure que le bouton ne devient pas trop large sur les grands écrans */
    margin: 100px 0 0; /* Pousse le bouton vers le bas et le centre verticalement */
    padding: 10px 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #start-button {
        width: 80%; /* Augmente la largeur du bouton sur les petits écrans */
        margin-top: 15px; /* Ajuste la marge supérieure pour les petits écrans */
        font-size: 0.9rem; /* Ajuste la taille de la police si nécessaire */
    }
}
/* Pour rendre le texte à l'intérieur du bouton responsive */
#start-button1 {
    width: 60%; /* Définit une largeur initiale pour le bouton */
    max-width: 600px; /* S'assure que le bouton ne devient pas trop large sur les grands écrans */
    margin: 100px 0 0; /* Pousse le bouton vers le bas et le centre verticalement */
    padding: 10px 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #start-button1 {
        width: 80%; /* Augmente la largeur du bouton sur les petits écrans */
        margin-top: 15px; /* Ajuste la marge supérieure pour les petits écrans */
        font-size: 0.9rem; /* Ajuste la taille de la police si nécessaire */
    }
}

.btn-wrapper {
	display: flex;
	justify-content: space-between;
  }
  
  .btn {
	flex-grow: 1;
	max-width: 30%;
	box-sizing: border-box;
	background-color: #0a69ed;
	color: white;
	text-align: center;
	border: none;
	padding: 10px;
	margin: 30px;
	font-size: 1em;
	border-radius: 0.3em;
	box-shadow: 0 20px 45px #00183826;
	cursor: pointer; /* Changement du curseur */
  }
  
  /* Changement de l'apparence au survol */
  .btn:hover {
	background-color: #959594;
  }


  .hovered {
    background-color: #848282; /* Changer la couleur de fond au survol */
    cursor: pointer; /* Changer le curseur pour indiquer que l'élément est cliquable */
}

