body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../Images/Ciel.jpg');
    background-size: cover;
    background-position: center;
}

.inscription-container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
}

/* Téléphones en mode portrait et paysage */
@media (max-width: 480px) {
    .inscription-container {
        padding: 10px;
        margin: 10px;
    }
}

/* Tablettes et petits ordinateurs portables */
@media (min-width: 481px) and (max-width: 1024px) {
    .inscription-container {
        max-width: 600px; /* Plus large pour les tablettes et petits ordinateurs portables */
        padding: 30px; /* Plus d'espace intérieur */
    }
    
    .form-group label {
        font-size: 16px; /* Plus grande taille de texte pour améliorer la lisibilité */
    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="password"],
    .form-group input[type="submit"] {
        padding: 15px; /* Plus grand padding pour une meilleure interaction */
    }
}
