/* Style de base pour le fond de la fenêtre modale */
.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Positionnement fixe par rapport à la fenêtre du navigateur */
  top: 0;
  left: 0;
  width: 100%; /* Couvre toute la largeur */
  height: 100%; /* Couvre toute la hauteur */
  background-color: rgba(0,0,0,0.5); /* Fond semi-transparent */
  z-index: 1; /* S'assure que l'arrière-plan est au-dessus du contenu de la page */
}

.modal-content {
  margin: auto; /* Centrer la modale dans le conteneur flex */
  padding: 20px; /* Espacement à l'intérieur de la modale */
  background: white; /* Couleur de fond de la modale */
  border-radius: 5px; /* Bords arrondis */
  width: 80%; /* Largeur de la modale, ajustez selon le besoin */
  max-width: 500px; /* Largeur maximale pour les écrans larges */
}

  #p{
    color: #000;
  }
  
  /* Style pour la fenêtre modale elle-même */
  .modal-content {
    display: inline-block; /* Permet à la largeur de s'adapter au contenu */
    text-align: center;
  }
  
  /* Styles pour les boutons */
  .button, .subscribe-button {
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px; /* Ajustez le padding selon le besoin */
    text-decoration: none;
    display: inline-block; /* Pour appliquer le padding et marges correctement */
    margin: 5px; /* Espacement autour des boutons */
  }
  
  #declineButton {
    background-color: #f44336; /* Couleur de fond différente pour 'Non merci' */
  }
  
  .button:hover, .subscribe-button:hover {
    background-color: #45a049; /* Couleur de fond au survol pour 'Je m'abonne' */
  }
  
  #declineButton:hover {
    background-color: #d32f2f; /* Couleur de fond au survol pour 'Non merci' */
  }
  
  
  /* Ajoute un peu d'espace autour des boutons */
  .button, .subscribe-button {
    margin: 5px;
  }
  
  /* Assure que le modal est visible dès le chargement de la page sans animation */
  .modal-background {
    visibility: visible;
    opacity: 1;
  }
  